# AirBnb Data Analysis by Monica Grant

#### 2305 Python Workshop - Data Cleaning, Exploration, and Visualization

In [1]:
import pandas as pd

In [2]:
import matplotlib as plt

In [3]:
df=pd.read_excel("Airbnb Clean.xlsx")

In [9]:
# df.info()
df.describe()

,id,host_id,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating
count,1211.000000,1.211000e+03,1211.000000,1211.000000,1211.000000,1161.000000,1161.000000,1211.000000,1211.000000,1211.000000
mean,225550.784476,9.492489e+05,159.915772,9.157721,78.289017,43315.707149,0.925693,2.222956,165.123039,0.495865
std,152779.563444,9.119169e+05,149.686210,23.672296,88.543788,585.133713,0.981830,4.044157,133.922065,0.285699
min,2539.000000,2.787000e+03,20.000000,1.000000,0.000000,40630.000000,0.010000,1.000000,0.000000,0.000107
25%,70111.500000,2.594365e+05,85.000000,2.000000,14.000000,43321.000000,0.210000,1.000000,12.000000,0.261658
50%,228925.000000,7.571660e+05,129.000000,3.000000,43.000000,43609.000000,0.580000,1.000000,188.000000,0.496798
75%,329347.500000,1.472728e+06,195.500000,6.000000,115.500000,43639.000000,1.330000,2.000000,291.000000,0.730688
max,514548.000000,1.060985e+07,3000.000000,365.000000,480.000000,43654.000000,7.140000,28.000000,365.000000,0.997866

In [10]:
df.shape   #1211 rows and 14 columns

(1211, 14)

In [11]:
df

,id,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating
0,2539,2787,John,Brooklyn,Kensington,Private room,149,1,9,43392.0,0.21,6,365,0.571896
1,2595,2845,Jennifer,Manhattan,Midtown,Entire home/apt,225,1,45,43606.0,0.38,2,355,0.184032
2,3647,4632,Elisabeth,Manhattan,Harlem,Private room,150,3,0,NaN,NaN,1,365,0.027267
3,3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,43651.0,4.64,1,194,0.461664
4,5022,7192,Laura,Manhattan,East Harlem,Entire home/apt,80,10,9,43423.0,0.10,1,0,0.823074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,512775,2396295,Richard,Queens,Long Island City,Entire home/apt,350,2,182,43627.0,2.20,1,272,0.424881
1207,513343,2528671,Dennis,Brooklyn,Prospect Heights,Entire home/apt,125,30,1,41101.0,0.01,1,341,0.046641
1208,513688,2530670,Tiffany,Brooklyn,Boerum Hill,Entire home/apt,350,2,134,43653.0,1.56,1,56,0.206727
1209,514457,2096690,Richard,Brooklyn,Bedford-Stuyvesant,Entire home/apt,150,10,10,43611.0,0.17,2,185,0.482942
1210,514548,2533991,Amanda,Brooklyn,Bushwick,Entire home/apt,180,30,0,NaN,NaN,1,352,0.701032

## 1. Clean Data

##### Check for Nulls and Remove them

In [20]:
df.isnull().sum() # tells us how many Nulls there are in the dataframe by column

id                                 0
host_id                            0
host_name                          1
neighbourhood_group                0
neighbourhood                      0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                       50
reviews_per_month                 50
calculated_host_listings_count     0
availability_365                   0
rating                             0
dtype: int64

In [21]:
df.isnull().sum().sum() # tells us how many Nulls there are in the dataframe

101

In [35]:
df_dropped =  df.dropna() #-- drop the rows with nulls

In [41]:
df_dropped.isnull().sum() # no more nulls

id                                0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
rating                            0
dtype: int64

In [19]:
df.isnull().sum()

id                                 0
host_id                            0
host_name                          1
neighbourhood_group                0
neighbourhood                      0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                       50
reviews_per_month                 50
calculated_host_listings_count     0
availability_365                   0
rating                             0
dtype: int64

#### Check for Duplicates and Remove Them

In [42]:
df.duplicated().sum() # counts the duplicates

3

In [32]:
df_nodupes = df.drop_duplicates() #gets rid of the duplicate rows

In [48]:
df_nodupes.duplicated().sum() # no dupes

0

## 2. Analyze Data

In [ ]:
# Questions for Analysis: 
# What’s the average room price in each borough? 
# What neighborhood has the most expensive rentals (max of mean)? 
# What type of room costs the most? The least?  
# Are higher ratings correlated with higher prices? 
# Are hosts with more rentals more likely to receive higher ratings?
# What’s the ‘best’ rental in NYC, considering location, price, and rating?  (this is a subjective judgment, but make sure you justify your choice)

## What’s the average room price in each borough?

In [4]:
#Columns being compared :
# neighbourhood_group 
# price   for average use # df['column2'].mean() 

df.roomprice = df['price'].mean()

 # df_grouped = df.groupby(['rows1','row2'])['columns'].mean()
df_roomprice_bourough = df.groupby('neighbourhood_group')['price'].mean()

In [5]:
df_roomprice_bourough.round()

neighbourhood_group
Bronx             68.0
Brooklyn          97.0
Brooklyn         153.0
Manhattan        182.0
Queens            96.0
Staten Island     75.0
Name: price, dtype: float64

#### Answer: The average room price in each borough is 
##### Bronx             68.0
##### Brooklyn          97.0
##### Brooklyn         153.0
##### Manhattan        182.0
##### Queens            96.0
##### Staten Island     75.0

In [7]:
# plt.figure(figsize=(10,3))
# plt.bar(df_roomprice_bourough[' neighbourhood_group '], df_roomprice_bourough['price'], color='m', marker='1')
# plt.show()

## What neighborhood has the most expensive rentals (max of mean)?

In [64]:
df.roompricemax = df['price'].max()

In [65]:
df_roompricemax_bourough = df.groupby('neighbourhood_group')['price'].max()

In [66]:
df_roompricemax_bourough

neighbourhood_group
Bronx             125
Brooklyn          215
Brooklyn          800
Manhattan        3000
Queens            350
Staten Island     250
Name: price, dtype: int64

#### Answer: Manahattan has the Most Expensive Rentals

## What type of room costs the most? The least?

In [130]:
df_roomprice_roomtype = df.groupby('room_type')['price'].max()

In [131]:
df_roomprice_roomtype

room_type
Entire home/apt    2000
Private room       3000
Shared room         115
Name: price, dtype: int64

#### Answer: 
#### Most Expensive Room Type:  Private Room
#### Least Expensive Room Type: Shared Room

In [8]:
# plt.figure(figsize=(10,3))
# plt.bar(df_roomprice_roomtype['room_type'], df_roomprice_roomtype['price'], color='m')
# plt.xlabel('Room Type')
# plt.ylabel('Room Price')
# plt.title('Room Price by Room Type Chart')
# plt.show()

## Are higher ratings correlated with higher prices?

In [83]:
import numpy as np

In [85]:
# df.ratings_MaxPrices = df.corr(['ratings']['price'].max())

max_roomprice = df['price'].max()

# df_rating_maxprice = df['rating'].corr(max_roomprice)
# df_rating_maxprice = np.corrcoef(df['rating'], max_roomprice)[0, 1]

In [106]:
# import matplotlib.pyplot as plt
# import pandas as pd 
# df=pd.read_excel("Airbnb Clean.xlsx")

# plt.figure(figsize=(10,3)) # .figsize() code must run before .plot
# # plt.plot(['Price'], ['Rating'])
# plt.plot(df['Price'], df['Rating'])

# plt.show()

In [97]:
df # checking the data

,id,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating
0,2539,2787,John,Brooklyn,Kensington,Private room,149,1,9,43392.0,0.21,6,365,0.571896
1,2595,2845,Jennifer,Manhattan,Midtown,Entire home/apt,225,1,45,43606.0,0.38,2,355,0.184032
2,3647,4632,Elisabeth,Manhattan,Harlem,Private room,150,3,0,NaN,NaN,1,365,0.027267
3,3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,43651.0,4.64,1,194,0.461664
4,5022,7192,Laura,Manhattan,East Harlem,Entire home/apt,80,10,9,43423.0,0.10,1,0,0.823074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206,512775,2396295,Richard,Queens,Long Island City,Entire home/apt,350,2,182,43627.0,2.20,1,272,0.424881
1207,513343,2528671,Dennis,Brooklyn,Prospect Heights,Entire home/apt,125,30,1,41101.0,0.01,1,341,0.046641
1208,513688,2530670,Tiffany,Brooklyn,Boerum Hill,Entire home/apt,350,2,134,43653.0,1.56,1,56,0.206727
1209,514457,2096690,Richard,Brooklyn,Bedford-Stuyvesant,Entire home/apt,150,10,10,43611.0,0.17,2,185,0.482942
1210,514548,2533991,Amanda,Brooklyn,Bushwick,Entire home/apt,180,30,0,NaN,NaN,1,352,0.701032